In [5]:
import pandas as pd
import pyodbc
from datetime import datetime


server = 'DESKTOP-M3H5QOC'
database = 'AdventureWorks2022'

conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server + ';DATABASE=' + database + ';Trusted_Connection=yes;')


excel_file = input('Enter the path to your Excel file: ')
sheet_name = input('Enter the sheet name: ')
df = pd.read_excel(excel_file, sheet_name=sheet_name, header=2)


# Adding two new columns
df['Project Name'] = 'Luxor'
df['Document Type'] = 'IR'
# Reorder columns
df = df[['Project Name', 'Document Type'] + [col for col in df.columns if col not in ['Project Name', 'Document Type']]]
# Renaming
df.rename(columns={'Last \nRef.':'Last Ref','Root \nCause':'Root Cause','Issued Date ':'Issued Date'}, inplace=True) 
df.drop("Remarks", axis=1, inplace=True)
# Fill nulls in string columns with "null"
string_columns = ['Project Name', 'Document Type', 'Description', 'Discipline', 'Sub-Discipline', 'System', 'Sub-System', 'Zone', 'Part/Building', 'Grid Line', 'Space No.', 'Space Func.', 'Status', 'Last Ref', 'Root Cause', 'SUB', 'Status.1']
df[string_columns] = df[string_columns].fillna('null')
# Fill nulls in date columns with None (which represents NULL in SQL Server)
date_columns = ['Issued Date', 'Inspection Date', 'Actual Response Dates', 'Date limit to issue response']
df[date_columns] = df[date_columns].applymap(lambda x: x if pd.notna(x) else None)
# Define the format of the date in your Excel file
date_format = '%d/%m/%Y'  # Adjust this format to match the format in your Excel file

for column in date_columns:
    df[column] = pd.to_datetime(df[column], format=date_format, errors='coerce')

# Now, you can convert the datetime columns to the 'YYYY-MM-DD' format
for column in date_columns:
    df[column] = df[column].dt.strftime('%Y-%m-%d')
    
# Create a cursor
cursor = conn.cursor()
cursor.fast_executemany = True

# Define the batch size (e.g., 100 rows per batch)
batch_size = 100

# Iterate through the DataFrame and insert data into the SQL Server table
for index, row in df.iterrows():
    try:
        
       
        cursor.execute("INSERT INTO IT ([Project Name], [Document Type], [IR No.], [Description], [Rev.], [Discipline], [Sub-Discipline], [System], [Sub-System], [Zone], [Part/Building], [Grid Line], [Level], [Space No.], [Space Func.], [Issued Date], [Inspection Date], [Actual Response Dates], [Date limit to issue response], [Overdue], [Status], [Last Ref], [Root Cause], [SUB], [Status.1]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)",
                   row['Project Name'], row['Document Type'], row['IR No.'], row['Description'], row['Rev.'], row['Discipline'], row['Sub-Discipline'], row['System'], row['Sub-System'], row['Zone'], row['Part/Building'], row['Grid Line'], row['Level'], row['Space No.'], row['Space Func.'], row['Issued Date'], row['Inspection Date'], row['Actual Response Dates'], row['Date limit to issue response'], row['Overdue'], row['Status'], row['Last Ref'], row['Root Cause'], row['SUB'], row['Status.1'])
        conn.commit()
    except Exception as e:
        print(f"Error inserting row {index}: {e}")

cursor.close()

Enter the path to your Excel file: 33-Contractor Inspection Request (CIR) (1).xlsx
Enter the sheet name: MAIN CONTRACTOR IR LOG
Error inserting row 144: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 281: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 1235: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 1236: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2088: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 16 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2100: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 16 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2348: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2351: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2354: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2355: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2356: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2357: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2358: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2359: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2360: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2361: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2362: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2363: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2364: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
Error inserting row 2365: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 21 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')